@model PaperStreetSoap.Web.Models.StatusLog[]

    @{
        ViewBag.Title = "Logs";
    }

    <h2 style="margin-top: 75px;">Status Logs</h2>
<div class="container">
    <table class="table-bordered" style="margin-top: 25px;">
        <tr>
            <th>Time</th>
            <th>Application</th>
            <th>Location</th>
            <th>Status</th>
        </tr>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.time</td>
                <td>@log.application</td>
                <td>@log.location</td>
                <td>@log.status</td>
            </tr>
        }
    </table>
</div>
<br />
<div><input type="button" class="btn btn-success" value="Save Status" onclick="saveStatus()" /></div>
<div class="alert alert-success alert-dismissible fade show" role="alert" id="alert" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span id="message"></span>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="failalert" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Status Save Failed!</strong>
</div>
<script>
    function saveStatus() {
        $.post("/api/status/save")
            .done(function () {
                $("#message").text("Status was saved");
                $('#alert').show();
            })
            .fail(function (data) {
                $('#failalert').show();
                console.log(data);
            });
    }
</script>